files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDOTCCAiGgAwIBAgIUYIr4HVSOXD1e6t3ogitFW+6/q3wwDQYJKoZIhvcNAQEL
      BQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
      GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yNDAzMTcxOTU2NDdaFw0yNTAz
      MTcxOTU2NDdaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEw
      HwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEB
      AQUAA4IBDwAwggEKAoIBAQDCefxHm2mrLguQ6ygR3204TvIpQv93WicTzmLE718G
      cXj7t+RADVvrbddUSMMO60Aw77yAnpYxsXNVLPrLC1sGCHKB3DRcSWggXwzEouc0
      YJITrgaAxC6qHps2qg0ggUZlgUmu2IQkt16ZEvXtO8ovJfRDaGqhxukkd9QlDIWK
      69iR2MdgYgCosr6Jg+Ai0kHcbSz6Fjs0XSSr3vaRg7Om+YCdZTBoLIrehohC1cd6
      dH6DI1zlFneh6w8uHJxDEXjcUZYXH51FgsCfoa5eOgSvHHKr0BX0gM79rhwwVn+W
      Gps6WskmRmKv09gQokVIxtSr4K1cSUJkjr7oJVkdXK7JAgMBAAGjITAfMB0GA1Ud
      DgQWBBTZg5IG8NLd+v2FKR/8aPxUfrzUAzANBgkqhkiG9w0BAQsFAAOCAQEAwNs4
      KUT0aTIH+aKplz5XUthsaROqQtnEthsj8GVE7vV+5Qb0urYw5MT0rbMJYxU8RIAK
      RFuEBKpwYYaG31D7T4+A/t2U7It5mu9kf5F4ax9IegHdbEHUShZRAZl8n5FBWph4
      1uVutskoDa6El+itiM9TOt1PhRF2oA//xQSlcJ2Ys3I/Zl5zwttwkDzrrGWU/8aV
      3rYwKLDM+vyeHqcNAswcO4rPfhVVGJNwaf4v2Gtzhk0UTjpCLz6/VifKNxgsJwPw
      zENiX3Ib1U4Khn9sR46XRz0djc0ycUAEPL/8HasEP7lwzOm8lKxOt7swf/MOsBBN
      dt9tNDVIbBkFHJEujQ==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDCefxHm2mrLguQ
      6ygR3204TvIpQv93WicTzmLE718GcXj7t+RADVvrbddUSMMO60Aw77yAnpYxsXNV
      LPrLC1sGCHKB3DRcSWggXwzEouc0YJITrgaAxC6qHps2qg0ggUZlgUmu2IQkt16Z
      EvXtO8ovJfRDaGqhxukkd9QlDIWK69iR2MdgYgCosr6Jg+Ai0kHcbSz6Fjs0XSSr
      3vaRg7Om+YCdZTBoLIrehohC1cd6dH6DI1zlFneh6w8uHJxDEXjcUZYXH51FgsCf
      oa5eOgSvHHKr0BX0gM79rhwwVn+WGps6WskmRmKv09gQokVIxtSr4K1cSUJkjr7o
      JVkdXK7JAgMBAAECggEAAgw1i6bOi7+YwbDuZwXGLMxUAMH/OdeMAB7jQQOzjQ2K
      Cb3POLk18/NDoTe6P2QiLbqetakZXsDpoAaUYo1CqybfEAIznWHQRAdvvHr4L3i4
      nXpSOVGlt+qCsfu1ngIOdN21d2fkG9xqo6FrwZfE9g6vFR+6gCU9oqVjPp8Q9ubf
      WJUNbePrqsowQ+WHEHi8WVjbaZd8nE5/0wtcwul9XSJa594hrnIEYz+kpOyyMwb3
      JwFbZkmadYSaz1idzwTSmZLV1xUL3myjM2ivuiHEvnXyMCUtQHzbE2WeOJ2GfDi4
      MwLzSf51hMFHbpRYY0pYgKE8juGA7Ypt15sBR/2KSQKBgQDqA4gtvrncp4+iQo7O
      82tMiHboJeAb8tLIv7/N2RX9quEbMT3kRZNY/583hUAMMC2laUfM7jirFutZfbY3
      pGzioT+Ls193hKDYCZmHZ2KJ8qTeLqvTdfiLRIiEnMeKwELAXkdiHrdUfX+mHzna
      nqYuGuvmb145K3w0iI08HhayZQKBgQDUv4IKNI+Cu8vDru4yosptmWyuebqCWCZ+
      t4RTDh2EXwFRiIpk1sLuQL/oOK/2tYiB7jOfwo52CbUqF+lQVIqivQrMEwAeh7UO
      LrvdScInE5k+Q0wtwttHm3U/hnY/pDMVrZXbX905un5V5gf+Tqz1rW7tF+NgzNGO
      /3Z6Z5DSlQKBgQCc0Y0aiqtm0OsSI2QsDzeia/izDV6nnAvg946DVazE9xQu8sq1
      BGL/yx1ZSXRoNokARhMVo7ZaANvqdrH7i7ZkEQbSiXu6TiizXYuDD6cbJn2RXtlK
      tc2/FkgeBio6MykIXKWdfVQBzLAUFOziMlrOnr/jBlKwIRH06mUrGka/eQKBgE3X
      YFIxlwzDf7Oyjq7yR1TAnTZdjbNhY3xb00u8T2p+hHH7nn904M/h2xWxoBiJpU+9
      AyCCRDPGK4YiR5i/xhXzSz8N+K4zAzkUOmKmOSapEhno77eSoz7ZD5ZVsXBpuNNG
      tx0UP1J+/Pia+PPAf6JIedzAL87cQhSrPgNdX2zdAoGAe/zNhqSg+huBEX4VQRUm
      ZY1ewifiIEzuvMeVxlbwUK5q4HI3L244+w5k+AM78xxJYRRvnWqOeg1d8xdnM0PZ
      8Dfky8iQ9SoN6RP3of+8nk7bH897RLb0SfFk994mIch8ux293QuuUAmrZd+nNUHP
      Ei5DmCk0wvhfsnMqRrIElM0=
      -----END PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart